@model NewsConcentratorSystem.Models.TelegramChannel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TelegramChannel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntervalMins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntervalMins)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChannelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
