@model NewsConcentratorSystem.Models.TelegramChannel

@{
    ViewData["Title"] = "Edit";
}
<style>
    th,td{
        text-align: start;
    }
</style>
<h1>@Model.ChannelUserName</h1>
<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>
<hr />
<div class="row" style="direction: ltr;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>
<div class="row mustcon">
    
    <h3>فیلتر جایگزینی کلمات</h3>

    <p>
        <a role="button" class="btn btn-primary" style="text-align: left" asp-route-id="@Model.ChannelId" asp-controller="MessageReplaceWords" asp-action="Create">افزودن</a>
    </p>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>
                کلمه هدف
            </th>
            <th>
                جایگزین
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ReplaceWords) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Word)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReplaceTo)
                </td>
                <td>
                    <a role="button" class="btn btn-danger" asp-controller="MessageReplaceWords" asp-action="Delete" asp-route-id="@item.MRWId" asp-route-channelid="@Model.ChannelId">حذف</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    

</div>
<hr />
<br/>
<div class="row mustcon">
    <h3>فیلتر کلمه</h3>
    <b>
    <a role="button" class="btn btn-primary" style="text-align: left" asp-route-id="@Model.ChannelId" asp-controller="MessageMustContains" asp-action="Create">افزودن</a>
    </b>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    کلمه اجباری پیام
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MustContainWords)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MustContainWord)
                    </td>
                    <td>
                        <a role="button" class="btn btn-danger" asp-controller="MessageMustContains" asp-action="Delete" asp-route-id="@item.MMCId" asp-route-channelid="@Model.ChannelId">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
