@using Microsoft.CodeAnalysis.CSharp.Syntax
@model IEnumerable<NewsConcentratorSystem.Models.TelegramChannel>

@{
    ViewData["Title"] = "Index";
}
<style>
    th {
        text-align: right !important;
    }

    td {
        text-align: right !important;
    }
    .headerdiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }
</style>


<div style="" class="headerdiv">

    <h1 style="display: inline; justify-self: center; margin-bottom: 0; font-weight: bold;">کانال ها</h1>

    <a style="display: inline; height: auto;" asp-action="Create" role="button" class="btn btn-primary">افزودن کانال</a>
</div>
<table class="table table-hover" dir="rtl">

    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChannelUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasContainFilter)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ChannelId">
                        <p style="margin-bottom: 0">@item.ChannelUserName</p>
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ChannelId">
                        @if (item.ActivityStatus == true)
                        {
                            <h5>
                                <i class="bi bi-check-circle-fill" style="color: green"></i>
                            </h5>
                        }
                        @if (item.ActivityStatus == false)
                        {
                            <h5>
                                <i class="bi bi-x-circle-fill" style="color: red"></i>
                            </h5>
                        }

                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ChannelId">

                        @if (item.HasContainFilter == false)
                        {
                            <h5>
                                <i class="bi bi-x-circle" style="color: red"></i>
                            </h5>

                        }
                        @if (item.HasContainFilter == true)
                        {
                            <h5>
                                <i class="bi bi-check-circle" style="color: green"></i>

                            </h5>
                        }

                    </a>
                </td>
                <td>
                    <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ChannelId">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
